einops==0.7.0
h5py
yacs==0.1.8
scipy
pandas
scikit_image
numpy
matplotlib
opencv_python
PyYAML
scikit_learn
tensorboardX
timm==0.9.16
tqdm==4.64.0
mat73==0.59
ipykernel==6.26.0
ipywidgets==8.1.1
retina-face==0.0.13